
body {
    
    background-repeat: no-repeat;
    background-color: violet;
    background-size: cover;
    background-size: 100% 100%;
    padding: 10px;
    font-family: ubuntu;
    font-size: 18px;
    color: black;
}

div.comeco {
    color: white;
    background-color: rgb(186,75,55);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 25px;
}
div.comeco dl,dd,dt,a{
    text-align: center;
}

div.inicio {
    color: white;

}

div.versao {
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: rgb(186,75,55);
}
div.versao p, h2{
    text-align: center;
}

div.conceitos {
    color: white;
    padding: 20px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(76,153,35);
}

div.trivia {
    color: white;
    padding: 20px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(38,84,117);
}

div.opiniao {
    padding: 30px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(
        245,222,20);
    color: white;
}

div.fonte {
    color: white;
    padding: 30px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: orange;
}

.spoiler span {
    visibility: hidden;
}

.spoiler:hover span {
    visibility: visible;
}

article {
    padding: 20px;
    border-radius: 25px;
    width: 70%;
    background-color: rgb(70,51,107);
}

.container1 {
    margin: 0.5em 0 0.5em 0.5em;
    width: 200px;
    height: 200ox;
    border-radius: 30px;
    clear: right;
    float: right;
}